#login-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}
#login-title{
  font-size: 4em;
}
.input-login-element{
  margin: 10px;
}
h3{
  margin: 10px;
  font-size: 1.6em;
}
input, label{
  font-size: 1.5em;
  height: 30px;
  width: 300px;
  flex-grow: 1;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

input{
  border: 2px solid black;
}

button{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(152, 158, 240);
}
button:hover{
  background-color: rgb(65, 51, 215);
}
.error{
  color: red;
  font-size: smaller;
}
#connexion-error{
  color: red;
}
