<div id="success" [ngClass]="{'slide-down': isAddedAnimation, 'slide-up': !isAddedAnimation}" *ngIf="isAdded"><h2>Séminaire ajouté avec succès !</h2></div>
<h1>Ajoutez un séminaire !</h1>
<div class="new-seminar" *ngIf="this.globalService.isConnected">
    <form [formGroup]="form">
      <div id="up-part" class="search-part">
        <div class="search-element">
          <h3 class="error" *ngIf="verifyTitle">Veuillez entrer un titre *</h3>
          <h3>Titre</h3>
          <input placeholder="Titre..." formControlName="title"/>
        </div>
        <div class="search-element">
          <h3 class="error" *ngIf="verifyOrator">Veuillez entrer un(e) orateur/oratrice *</h3>
          <h3>Orateur/Oratrice</h3>
          <input placeholder="Orateur/Oratrice..."  formControlName="orator"/>
        </div>
        <div class="search-element">
          <h3 class="error" *ngIf="verifyLanguage">Veuillez selectionner une langue *</h3>
          <h3>Langue</h3>
          <label for="choix">Langue...
            <select id="choix" formControlName="language">
              <option>-</option>
              <option>Français</option>
              <option>English</option>
            </select>
          </label>
        </div>
      </div>
      <div id="down-part" class="search-part">
        <div class="search-element">
          <h3 class="error" *ngIf="verifyPlace">Veuillez entrer un emplacement *</h3>
          <h3>Emplacement</h3>
          <input placeholder="Place..."  formControlName="place">
        </div>
        <div class="search-element">
          <h3 class="error" *ngIf="verifyDate">Veuillez selectionner une date *</h3>
          <h3>Date de création</h3>
          <input type="date"  formControlName="date">
        </div>
        <div class="search-element">
          <h3 class="error" *ngIf="verifyTime">Veuillez selectionner une horaire *</h3>
          <h3>Heure de création</h3>
          <input type="time"  formControlName="hour">
        </div>
        <div class="search-element">
          <h3 class="error" *ngIf="verifyContent">Veuillez entrer un résumé *</h3>
          <h3>Résumé</h3>
          <textarea rows="4" cols="50" formControlName="content" placeholder="Entrez le résumé du séminaire..."></textarea>
        </div>
      </div>
      <div id="add-button">
        <button type="submit" (click)="submitNewSeminar()">Ajouter !</button>
      </div>
    </form>
</div>
